<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="d1">
    接收者：<input type="text" class="receive"/><br/>
    发送内容：<input type="text" class="content"/><br/>
    <input type="button" class="btn" value="发送普通邮件"/>
    </div>
    <div class="d2">
        接收者：<input type="text" class="receive"/><br/>
        发送内容：<input type="text" class="content"/><br/>
        <input type="button" name="btn2" class="btn2" value="发送模版邮件"/>
    </div>
</body>
<script src="static/jquery.min.js"></script>
<script src="static/index.js"></script>
</html>